# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
import("R.oo")

# importFrom(R.utils, cat)
import("R.utils")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Object that must exported explicitly
export(.conflicts.OK) 

# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")



# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# S3 methods
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
S3method("rstring", "default")
S3method("rcat", "default")
S3method("rfile", "default")
S3method("rsp", "default")
